h1{
    background-color:red;
    margin:0px;
    height:150px;
    color:white;
    text-align:center;
    line-height: 130px;
    font-size: 40px;
h2{
    padding-left:300px
}


}
.video{
    padding-left:250px
}


